 body{
    color: white;
    background-color: black;
    font-family: sans-serif;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

 }
h1{
   color: pink;
}
div{
   margin: 20px;
   
}